* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat",
        sans-serif;
    background: black;
    display: flex;
    flex: 1;
    height: 100vh;
    align-items: center;
    flex-direction:column;
    justify-content: space-around;
}
.text{
    font-size:50px;
    color:white;
    position:absolute;
}

.clock {
    width: 30rem;
    height: 30rem;
    border: 10px solid white;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow: inset 0px 0px 89px -14px rgba(108, 138, 212, 1);
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);

}

.hand {
    width: 50%;
    height: 6px;
    background: white;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}